@import './header';
@import './mainSec';
@import './services';
@import './footer';

* {
    padding: 0;
    margin: 0;
    font-family: var(--bs-fonts-text);
}

:root {
    --bs-nav-color:#eee2e2;
    --bs-service-color:#ecebdd;
    --bs-title-color:--bs-gray-200;
    --bs-fonts-title: 'Eugust', serif;
    --bs-fonts-text:'Epos-normal', serif;
    --bs-monument-background:#343434;
    --bs-no-active:#dbdcdd;
    --bs-footer-active:#c3c5c7;
}

.bg-swich {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, 
    rgba(52,52,52,0.6) 50%,
    rgba(52,52,52,1) 100%);
    z-index: 100;
}

@font-face {
    font-family: 'Epos-medium';
    src: url('../fonts/text/epos-medium.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Epos-normal';
    src: url('../fonts/text/epos-normal.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eugust';
    src: url('../fonts/title/EugustoFreePersonalUse-Regular.otf');
    font-weight: normal;
    font-style: normal;
}